/* ------------------------------------ */
/* BARRRE DE NAVIGATION */
/* ------------------------------------ */
* {
    margin: 0;  /*Supprime les marges par defaut   */
    padding: 0;   /*supprime les espaces a l'interieur   */
    box-sizing: border-box;   /*largeur totale egale a 200px  */
    font-family: Arial, sans-serif;  /*L#ecriture par defaut dans la page    */
}

.top-bar {
    font-style: italic;
    display: flex;   /*mis en page flexible  */
    justify-content: space-between;   /*Espace entre les elemnts   */
    align-items: center;  
    background-color: #F8D7DA;
    padding: 15px 20px;
    color: rgb(16, 16, 16);   /*couleur d'ecriture   */
    position: fixed;
    width: 100%;
    top: 0;    /*la barre au haut de la page   */
    z-index: 1000;   /*la barre au haut des elements de la page   */
}

.left-section, .right-section {
    display: flex;  /*mise en page flexible  */
    align-items: center;   /*espace de 15px entre les elements   */
    gap: 15px;
}
 /*le style des liens qui est dans la barre   */
.left-section a, .right-section a {
    text-decoration: none;   /*supprime soulignement sur les liens  */
    color: rgb(16, 15, 15);   /*ecrire en noir ces lien  */
    font-weight: bold;   /*le texte des lien en gras   */
    font-size: 16px;
}
 /*style des icones qui est a gauche de la barre   */
.left-section i {
    font-size: 20px;   /*les icones un peux grand   */
}

/* ------------------------------------ */
/* VIDEO */
/* ------------------------------------ */
.video-container {
    width: 100%;
    height: 100vh;
    margin-top: 60px;  /*Laisser un espace de 60px pour la barre de navigation */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------------ */
/* HORAIRES D'OUVERTURE */
/* ------------------------------------ */
.opening-hours {
    width: 220px; /*largeur du cadre */
    height: 100vh; /*hauteur du cadre    */
    background-color: #a38d89;
    padding: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*Style de titre horaires d'ouverture    */
.opening-hours h2 {
    border-bottom: 1px solid #917576;  /*ligne marron solid yfra9 le titre 3la lundi.. */
    padding-bottom: 10px;
}

/* ------------------------------------ */
/* CARTES DES PRODUITS */
/* ------------------------------------ */

/*Hada li ay9smlna la page en 3 partie */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    gap: 20px;
}
/* background des cartes (rose bb) */
.center-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 70%;
    background-color: rgba(255, 209, 220, 0.5);
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(13, 249, 57, 0.1);
}
/*Arriere du plan de la carte */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
/*STYLES DES CARTES QUI CONTIENT LES IMAGES */
.card {
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    min-height: 250px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    background-size: cover;
    background-position: center;
}
/* Style spécifique pour chaque type de carte */
.sucre { background-image: url('imgSucre.jpg');}
.sale { background-image: url('imgSale.jpg'); }
.boulangerie { background-image: url('imgBoulang.jpg'); }
.traditionnels { background-image: url('imgTradi.jpg'); }
.boissons { background-image: url('imgBoiss.jpg');}
/* Contenu à l'intérieur de chaque carte (avec un fond semi-transparent et des coins arrondis) */
.content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
/* Style du titre dans chaque carte */
.card h2 {
    color: #0d0d0d;
    font-size: 24px;
    margin-bottom: 10px;
}
/* Style pour les paragraphes à l'intérieur des cartes */
.content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}
/* Style du bouton à l'intérieur de chaque carte */
.btn {
    background: #bd4c8a;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}
/* Effet au survol du bouton */
.btn:hover {
    background: rgb(235, 148, 227);
}

/* ------------------------------------ */
/* PANIER */
/* ------------------------------------ */
/*LE CADRE QUI CADRER LE PANIER  */
.cart {
    width: 220px;  /*LARGEUR DU CADRE*/
    height: 100vh;  /*LONGEUR DU CADRE */
    background-color: #a38d89;  /*COULEUR DU CADRE */
    padding: 20px;  /*Espacemenet interieure entre contenu html et ses bords dans ce cas aykhali 20px entre cadre de continuer,l.d.200dh et le cadre de panier */
    display: flex;   
    flex-direction: column;   
    justify-content: center;  /* Centre le contenu verticalement dans le panier */
    text-align: center;  /* Centre le texte horizontalement dans le panier */
}

.cart h2 {
    padding-bottom: 20px;  /*ESpace entre le titre et le cadre de livraison des 200dh */
}
/*Styler Livraison des 200dh */
.cart .notice {
    background-color: #ddd;   
    padding: 10px;  /*Espace entre l'ecriture et cadre  */
    font-size: 0.9em;  /* Taille de la police du message */
}

.cart .empty-message {
    margin: 20px 0; /* Espacement au-dessus et en dessous du message "panier vide" */
    font-size: 1em;   /*taille du police de l'ecriture */
}
/*TOTAL*/
.cart .total {
    font-weight: bold;  /* Met le total en gras */
    font-size: 1.2em; /* Augmente la taille de la police du total */
    margin: 20px 0;  /* Espacement au-dessus et en dessous du total */
}
/* button CONTINUER */
.cart button {
    background-color: black;
    color: white;
    width: 100%;  /* Le bouton prend toute la largeur du panier */
    padding: 10px;
    font-size: 1em;  /* Taille de la police du bouton */
}

/* ------------------------------------ */
/* CITATION */
/* ------------------------------------ */
.barre-citation {
    padding: 16px 15px;  /*Espace en haut/bas (16) et droite/gauchee(15) */
    text-align: center;  /*Citation a centre du la page */
}

.citation {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-style: italic;
    color: #030303;
    text-align: center;
    margin: 30px auto;  /* Marge haut et bas de 30px, auto pour centrer horizontalement */
}

.auteur {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;   /* Met le nom de l’auteur en gras */
    color: #917576;
    margin-top: 10px;  /* Espace au-dessus du nom de l’auteur */
}

/* ------------------------------------ */
/* COMMENTAIRES */
/* ------------------------------------ */
.barre-commentaires {
    background-color: #F8D7DA;
    padding: 20px 10px;  /* Espace intérieur : haut/bas 20px, gauche/droite 10px  rykhli had les echelles 3d ybda yktb  */
    text-align: center;   /* Centrer le texte horizontalement */
}
/*Ce qui disent nos clinet */
.barre-commentaires h1 {
    font-family: 'dancing script', cursive;
    font-size: 28px;
    font-weight: 600;  /*un texte moyennement gras.*/
    color: #cc2766;
    text-shadow: 2px 2px 4px rgba(192, 61,114, 0.3);  /*الظل فالكتابة */
}

.conteneur-sections {
    display: flex;                           /* Affichage en ligne (flexbox) */
    justify-content: space-between;         /* Espacement égal entre les éléments */
    max-width: 1100px;                       /* Largeur maximale du conteneur */
    margin: 20px auto 0;                     /* Marge haut 20px, centrée horizontalement */
    gap: 50px;                              /* Espace entre les sections */
}
.section {
    background-color: #f8f7f5;
    border-radius: 20px;  /* Coins arrondis */
    padding: 20px;  /*espace entre cadre et paragraphe */
    box-shadow: 0 4px 10px #a38d89;  /*OMBRE لظل Autour de l BOITE */
    align-items: center;                     /* Centrer les éléments horizontalement */
    justify-content: center;                 /* Centrer verticalement */
    text-align: center;                      /* Centrer le texte */
}


.section p {
    font-size: 18px;
    line-height: 1.4;    /* Hauteur de ligne pour lisibilité */
    color: #333;
    font-family: 'sans-serif';
    font-style: italic;
    margin-bottom: 20px;  /* Espace après le texte */
}

.section .auteur {
    font-size: 14px;
    font-weight: bold;  /* Texte en gras */
    color: #3a0d05;
    margin-top: 20px;
}


/* ------------------------------------ */
/* DERNIERE BARRE CONTACT */
/* ------------------------------------ */
.contact-section {
    display: flex;  /* Utilise Flexbox pour organiser les éléments enfants */ 
    padding: 5px 5px 15px;  /*Les dimensions de notre cadre */
    background-color: #F8D7DA;
    width: 100%;  /* Prend toute la largeur disponible */
    height: 100%;  /* Prend toute la longeur disponible */
}

.contact-grid {
    display: flex;
    justify-content: space-around;  /* Espace égal entre chaque bloc ona dans ce cas 3 blocs*/
    width: 100%;
    max-width: 1200px;
    padding: 20px;  /* Espace intérieur autour du contenu */
}

.contact-item {
    text-align: center;
    padding: 0 20px;
}

.contact-item h2 {
    font-family: 'dancing script', cursive;
    font-size: 28px;
    font-weight: 600;  /* Texte semi-gras */
    color: #cc2766;
    text-shadow: 2px 2px 4px rgba(192, 61,114, 0.3);
}
/* On applique ce style à tous les <p> et tous les <li> qui sont dans .contact-item. */
.contact-item p, .contact-item li {
    line-height: 1.6;  /* Hauteur de ligne pour la lisibilité */
    color: #050505;
    font-size: 1.1em;
    list-style-type: none;  /*Myt3amalch m3hom come des listes supprime .  */
}
/*cONCERNANT EMAIL (LIEN) */
.contact-item a {
    color: #917576;
    text-decoration: none;   /* Enlève le soulignement */

}

.contact-item a:hover {
    text-decoration: underline; /*Si en passe survol sur lien contact@... ghysatar 3lih */
}